<!DOCTYPE html >
<html lang="en">
<head>
<title>Layout Example</title>
<meta charset="utf-8">
<style>
body { font-family:Verdana, Arial, sans-serif;
}
#wrapper { background-color: #b3c7e6; 
           color: #000066;
           width: 80%;
		   margin: auto;
           min-width:940px;
} 
nav { float: left;
	          width: 150px;
} 

main { margin-left: 155px;
               background-color: #ffffff;
               color: #000000;
} 
</style>
</head>
<body>
<div id="wrapper">
  <header><h1>Layout Example</h1></header>
  <nav>
   <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="menu.html">Menu</a></li>
    <li><a href="directions.html">Directions</a></li>
	<li><a href="contact.html">Contact</a></li>
   </ul>
  </nav>
  <main>
    <h2>Page Heading</h2>
    <p>This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence. This is a sentence. This s a sentence.</p>
  </main>
  <footer>Copyright &copy; 2016</footer>
</div>
</body>
</html>



